<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<aspNetCore processPath="dotnet" arguments=".\LexiConnect.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
			<environmentVariables>
				<!-- Change Development -> Production after debugging -->
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>
