<!-- Compact Reusable Footer -->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <div class="footer-brand">
                <img src="~/image/LexiConnect_logo_NoText.png" alt="LexiConnect" class="footer-logo" />
                <span class="footer-brand-text">LexiConnect</span>
            </div>
            <div class="footer-links">
                <div class="footer-column">
                    <h5>Use Cases</h5>
                    <a href="#">UI Design</a>
                    <a href="#">UX Design</a>
                    <a href="#">Wireframing</a>
                    <a href="#">Collaboration</a>
                </div>
                <div class="footer-column">
                    <h5>Explore</h5>
                    <a href="#">Design Tools</a>
                    <a href="#">Prototyping</a>
                    <a href="#">Templates</a>
                    <a href="#">Resources</a>
                </div>
                <div class="footer-column">
                    <h5>Resources</h5>
                    <a href="#">Blog</a>
                    <a href="#">Help Center</a>
                    <a href="#">Best Practices</a>
                    <a href="#">Developers</a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-copyright">
                © 2025 LexiConnect. All rights reserved.
            </div>
            <div class="footer-social">
                <a href="#" title="Twitter">𝕏</a>
                <a href="#" title="Instagram">📷</a>
                <a href="#" title="YouTube">▶</a>
                <a href="#" title="LinkedIn">🔗</a>
            </div>
        </div>
    </div>
</footer>